<launch>
  <arg name="model" default="examplerobot"/>
  <arg name="sdf" default="$(find examplerobot_description)/sdf/exapmlerobot.sdf"/>

  <!-- Start Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find my_robot_package)/worlds/my_world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
  </include>

  <!-- Spawn robot in Gazebo -->
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-model $(arg model) -sdf $(arg sdf) -x 0 -y 0 -z 0" />
</launch>
